
body {
    background-color: #d8e3e7;
    color: #132c33;
    font-family: 'Exo 2', sans-serif;  
}

h1 {
    text-align: center;
    padding: 30px;
}

li {
    list-style: none;
}
.weather-app {
    max-width: 40%;
    min-width: 40%;
    margin: 15px auto;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 4px;
    padding: 40px;
    background-image: url("../images/weather.jpg");
    background-size: cover;
    background-position-y: center;
}
.firstPart, .secondPart {
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.picture {
    padding-top: 50px;
}
.city, .temperature {
    font-size: 40px;
}
.units {
    position: relative;
    top: -20px;
}

.secondPart li {
    display: inline;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.bottom {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

